
<div class="row">

<!--	<div class="col-12 col-md-4 px-1 my-2 ">-->
	<div class="w-100 my-3">
		<div class="card d-flex shadow ">
			<h4 class="card-header bg-blue">Education</h4>
			<div class="card-body bg-lightblue align-items-stretch">
				<div class="container col-11 mx-auto">
					<h5 class="card-title mb-0" style="font-weight: bold">Harvard Extension</h5>
					<div class="card-text ">Master's Software Engineering (4.0)</div>
					<div class="card-text ">Certificate: Data Science</div>
					  <p></p>
					<h5 class="card-title mb-0" style="font-weight: bold">Georgia State University</h5>
					<div class="card-text ">Master's Computer Information Systems</div>
					<div class="card-text ">Focus: e-Commerce</div>
					  <p></p>
					<h5 class="card-title mb-0" style="font-weight: bold">Iowa State University</h5>
					<div class="card-text ">B.B.A. Accounting</div>
					<div class="card-text ">Minor: German</div>
					  <p></p>
				</div>
			</div>
			<div class="card-footer bg-blue">
				<a href="course_summary.html" class="card-link">See Coursework &raquo;</a>
			</div>
		</div>
	</div>


<!--	<div class="col-12 col-md-4 px-1 my-2 d-flex">-->
	<div class="w-100 my-3">
		<div class="card shadow">
			<h4 class="card-header bg-blue">Academic Projects</h4>
			<div class="card-body bg-lightblue align-items-stretch">
				<div class="container col-11 mx-auto">
					<p class="card-text ">
						A collection of academic projects demonstrating skills and technologies is linked below.
						These projects demonstrate both technical software development work as well as problem solving using various deep learning tasks.
					</p>

					<p class="card-text ">
						These projects highlight a proficiency in various languages and frameworks including small individual projects
						as well as larger group efforts.  Deep Learning efforts include various image and NLP-based
						algorithms as well as other supervised and unsupervised machine learning tasks.
					</p>
				</div>

			</div>
			<div class="card-footer bg-blue">
				<a href="/projects.html" class="card-link">See Projects &raquo;</a>
			</div>
		</div>
	</div>

<!--	<div class="col-12 col-md-4 px-1 my-2 d-flex">-->
	<div class="w-100 my-3">
		<div class="card shadow">
			<h4 class="card-header bg-blue">Experience</h4>
			<div class="card-body bg-lightblue align-items-stretch">
				<div class="container col-11 mx-auto">
					<div class="card-text">
						<p>I have accumulated a unique set of experiences through various roles, business types, locations and market circumstances.</p>
						<p>I take pride in breaking complex efforts into manageable components and orchestrating solutions that initially seemed impossible.</p>
						<h5 class="card-title mb-0" style="font-weight: bold">Previous Roles</h5>
						<div class="row">
							<div class="col-12 col-lg-6">
								<ul>
									<li>Senior Director - AI in Finance</li>
									<li>Director of Finance / Controller</li>
									<li>Director of Global Projects / M&A</li>
									<li>Director of Process Management</li>
								</ul>
							</div>
							<div class="col-12 col-md-6">
								<ul>
									<li>Chief Information Officer</li>
									<li>Regional IT Director</li>
									<li>Global Finance Performance Controller</li>
									<li>SAP Project Lead</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer bg-blue">
				<a href="resume.html" class="card-link">See Resume &raquo;</a>
			</div>
		</div>
	</div>


</div><!-- /.row -->