<div class="row">
	<div class="col-2"></div>
	<div class="jumbotron col-8 bg-blue my-4 py-5">

		<p class="lead">
			After a career in corporate financial and technology management, I am pursuing a degree in Software Engineering with a focus in Data Science.
		</p>

		<p class="lead">
			I aim to combine my business and technical skills to deliver A.I. solutions to small and medium-sized businesses.
		</p>

		<p class="lead">
			I believe that Deep Learning can be applied to nearly all aspects of business and will become a critical success factor in the immediate future.  My goal is to help businesses exploit these technologies to improve their customers’ experience as well as their employee satisfaction and performance.
		</p>

	</div> <!-- jumbotron -->
	<div class="col-2"></div>
</div> <!-- row -->