<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
    <div class="navbar-brand">{{ page.author }}</div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if page.url == "/"  %}
			<li class="nav-item">
				<a class="nav-link disabled" href="/">Home</a>
			</li>
        {% else %}
			<li class="nav-item active">
				<a class="nav-link" href="/index.html">Home</a>
			</li>
        {% endif %}
        
        {% if page.url == "/resume.html"  %}
			<li class="nav-item">
				<a class="nav-link pr-0 disabled" href="/resume.html">Resume</a>
			</li>
        {% else %}
			<li class="nav-item active">
				<a class="nav-link pr-0" href="/resume.html">Resume</a>
			</li>
        {% endif %}
        
        <li class="nav-item active">
          <a class="nav-link pl-1" href="/static/mark_mcdonald_resume.pdf" download><img src="/static/images/download.svg" width="15" height="15"/></a>
        </li>
        
        {% if page.url == "/course_summary.html"  %}
			<li class="nav-item">
				<a class="nav-link pr-0 disabled" href="/course_summary.html">Course Summary</a>
			</li>
        {% else %}
			<li class="nav-item active">
				<a class="nav-link pr-0" href="/course_summary.html">Course Summary</a>
			</li>
        {% endif %}
        
        <li class="nav-item active">
          <a class="nav-link pl-1" href="/static/mark_mcdonald_course_summary.pdf" download><img src="/static/images/download.svg" width="15" height="15"/></a>
        </li>
        
        <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" href="/projects.html">Project Summaries</a>
        	<div class="dropdown-divider"></div>
        	{% for project in site.projects %}
          		<a class="dropdown-item" href={{ project.url }}>{{ project.project_name }}</a>
        	{% endfor %}
        </div>
      </li>
        
        
        {% if page.url == "/contact.html"  %}
			<li class="nav-item">
				<a class="nav-link pr-0 disabled" href="contact.html">Contact</a>
			</li>
        {% else %}
			<li class="nav-item active">
				<a class="nav-link pr-0" href="contact.html">Contact</a>
			</li>
        {% endif %}
        
      </ul>
      <a class="my-2 my-sm-0" href="mailto:mark.mcdonald1@icloud.com">
      	<img src="/static/images/envelope-closed.svg" class="rounded mx-auto d-block" width="20" height="20" alt="eMail"/>
      </a>
    </div>
</nav>