<hr class="featurette-divider">

	<div class="row featurette">
	  <div class="col-md-7">
		<h3 class="featurette-heading">Pathfinder</h3>
		<h3 class="text-primary"> Off-road Navigation</h3>
		<p class="lead">Using Keras and OpenCV, Pathfinder will highlight a navigable path on a video of off-road terrain.  The model was trained on a small set of publically available data that was augmented to produce a useful set of training data.</p>
	  </div>
	  <div class="col-md-5">
		<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
	  </div>
	</div>

<hr class="featurette-divider">

	<div class="row featurette">
	  <div class="col-md-7 order-md-2">
		<h3 class="featurette-heading">RaspPi-Cam Data Collection</h3>
		<h3 class="text-primary"> Platform for visual data collection</h3>
		<p class="lead">This project uses a series of Raspberry Pi cameras in conjunction with Docker containers and ROS.  Cameras are networked and collect image data.  Images and identified and statictical data collected.</p>
	  </div>
	  <div class="col-md-5 order-md-1">
		<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
	  </div>
	</div>

<hr class="featurette-divider">

	<div class="row featurette">
	  <div class="col-md-7">
		<h3 class="featurette-heading">Chatterbox</h3>
		<h3 class="text-primary"> A fun, no-frills, web-based, chat app</h3>
		<p class="lead">A simple chat application demonstrating basic HTML, CSS, Flask and Internet messaging.</p>
	  </div>
	  <div class="col-md-5">
		<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
	  </div>
	</div>

<hr class="featurette-divider">